<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.gyro" >
    <uses-sdk android:minSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
    <application android:label="@string/app_name">
        <activity android:name=".gps"
                  android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

